<h1>Editing cinema placing</h1>

<%= render "form", cinema_placing: @cinema_placing %>

<br>

<div>
  <%= link_to "Show this cinema placing", @cinema_placing %> |
  <%= link_to "Back to cinema placings", cinema_placings_path %>
</div>
